In [2]:
#Task 1: Data Retrieving and Preparation

#First need to sanity check and check for errors or typos
#importing packages
import numpy as np
import pandas as pd

#read the csv
df = pd.read_csv("AdultData.csv",sep = None, engine = 'python',header = None, decimal = '.', names = ['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country','income' ]  )

In [3]:
#read the columns 
df.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education-num      int64
marital-status    object
occupation        object
relationship      object
race              object
sex               object
capital-gain       int64
capital-loss       int64
hours-per-week     int64
native-country    object
income            object
dtype: object

In [4]:
#checking the count of the columns
df.count()

age               32561
workclass         32561
fnlwgt            32561
education         32561
education-num     32561
marital-status    32561
occupation        32561
relationship      32561
race              32561
sex               32561
capital-gain      32561
capital-loss      32561
hours-per-week    32561
native-country    32561
income            32561
dtype: int64

In [19]:
#checking age range first
dfAge = df['age']
dfAgeRangeCheck = dfAge.between(16,100)
dfAgeRangeCheck[dfAgeRangeCheck[:] == False]

Series([], Name: age, dtype: bool)

In [20]:
#no value that is outside of range 16 and 100
#Next to check the workclass
df['workclass'].value_counts()

 Private             22696
 Self-emp-not-inc     2541
 Local-gov            2093
 ?                    1836
 State-gov            1298
 Self-emp-inc         1116
 Federal-gov           960
 Without-pay            14
 Never-worked            7
Name: workclass, dtype: int64

In [26]:
# we can see that there are a few missing values
#Next is fnlwgt
dfFinalWeight = df['fnlwgt']
df[df['fnlwgt'].isnull()]

Empty DataFrame
Columns: [age, workclass, fnlwgt, education, education-num, marital-status, occupation, relationship, race, sex, capital-gain, capital-loss, hours-per-week, native-country, income]
Index: []

In [27]:
#continuous variable with no nulls
#Next is education
dfEducation = df['education']
dfEducation.value_counts()

 HS-grad         10501
 Some-college     7291
 Bachelors        5355
 Masters          1723
 Assoc-voc        1382
 11th             1175
 Assoc-acdm       1067
 10th              933
 7th-8th           646
 Prof-school       576
 9th               514
 12th              433
 Doctorate         413
 5th-6th           333
 1st-4th           168
 Preschool          51
Name: education, dtype: int64

In [29]:
#check No nulls
df[dfEducation.isnull()]

Empty DataFrame
Columns: [age, workclass, fnlwgt, education, education-num, marital-status, occupation, relationship, race, sex, capital-gain, capital-loss, hours-per-week, native-country, income]
Index: []

In [30]:
#no nulls next is education-num
dfEducationNum = df['education-num']
dfEducationNum.value_counts()

9     10501
10     7291
13     5355
14     1723
11     1382
7      1175
12     1067
6       933
4       646
15      576
5       514
8       433
16      413
3       333
2       168
1        51
Name: education-num, dtype: int64

In [33]:
#no null variables
#Next is marital-status
dfMaritalStatus = df['marital-status']
dfMaritalStatus.value_counts()

 Married-civ-spouse       14976
 Never-married            10683
 Divorced                  4443
 Separated                 1025
 Widowed                    993
 Married-spouse-absent      418
 Married-AF-spouse           23
Name: marital-status, dtype: int64

In [34]:
#no missing variables. Onto occupation
dfOccupation = df['occupation']
dfOccupation.value_counts()

 Prof-specialty       4140
 Craft-repair         4099
 Exec-managerial      4066
 Adm-clerical         3770
 Sales                3650
 Other-service        3295
 Machine-op-inspct    2002
 ?                    1843
 Transport-moving     1597
 Handlers-cleaners    1370
 Farming-fishing       994
 Tech-support          928
 Protective-serv       649
 Priv-house-serv       149
 Armed-Forces            9
Name: occupation, dtype: int64

In [37]:
#missing values consistening of ?

#next is relationship
dfRelationship = df['relationship']
dfRelationship.value_counts()

 Husband           13193
 Not-in-family      8305
 Own-child          5068
 Unmarried          3446
 Wife               1568
 Other-relative      981
Name: relationship, dtype: int64

In [38]:
#no missing values,
#next we move onto race
dfRace = df['race']
dfRace.value_counts()

 White                 27816
 Black                  3124
 Asian-Pac-Islander     1039
 Amer-Indian-Eskimo      311
 Other                   271
Name: race, dtype: int64

In [39]:
#no missing values, so onto the next variable 
dfSex = df['sex']
dfSex.value_counts()

 Male      21790
 Female    10771
Name: sex, dtype: int64

In [43]:
#no missing variables, so onto the next of capital-gain 0 or above
dfCapitalGain = df['capital-gain']
dfCapitalGainCheck = dfCapitalGain.between(0,999999)
dfCapitalGainCheck[dfCapitalGainCheck[:] == False]

Series([], Name: capital-gain, dtype: bool)

In [44]:
#capital-loss check 0 or above
dfCapitalLoss = df['capital-loss']
dfCapitalLossCheck = dfCapitalLoss.between(0,999999)
dfCapitalLossCheck[dfCapitalLossCheck[:] == False]

Series([], Name: capital-loss, dtype: bool)

In [45]:
#checking if hours per week is at least 0 and above
dfHoursPerWeek = df['hours-per-week']
dfHoursPerWeekCheck = dfHoursPerWeek.between(0,9999999)
dfHoursPerWeekCheck[dfHoursPerWeekCheck[:] == False]

Series([], Name: hours-per-week, dtype: bool)

In [47]:
#checking native countries
dfNativeCountries = df['native-country']
dfNativeCountries.value_counts()

 United-States                 29170
 Mexico                          643
 ?                               583
 Philippines                     198
 Germany                         137
 Canada                          121
 Puerto-Rico                     114
 El-Salvador                     106
 India                           100
 Cuba                             95
 England                          90
 Jamaica                          81
 South                            80
 China                            75
 Italy                            73
 Dominican-Republic               70
 Vietnam                          67
 Guatemala                        64
 Japan                            62
 Poland                           60
 Columbia                         59
 Taiwan                           51
 Haiti                            44
 Iran                             43
 Portugal                         37
 Nicaragua                        34
 Peru                             31
 Greece                           29
 France                           29
 Ecuador                          28
 Ireland                          24
 Hong                             20
 Trinadad&Tobago                  19
 Cambodia                         19
 Laos                             18
 Thailand                         18
 Yugoslavia                       16
 Outlying-US(Guam-USVI-etc)       14
 Honduras                         13
 Hungary                          13
 Scotland                         12
 Holand-Netherlands                1
Name: native-country, dtype: int64

In [ ]:
#A few missing values that have a question mark "?"
df

#delete the missing values



#need to also try detect outliers?